:host{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;

    color: #E4731C;
}

.contenido{
    margin: 40px 0px; 

}