<h1>{{titulo}}</h1>

<div class="contenido">

    <div class="opciones" >
        <button pButton  label="Productos" (click)="redirectProductos()" class="p-button-success boton"></button>
        <button pButton *ngIf="optionsUser" (click)="showMaximizableDialog()" label="Modificar" class="p-button-warning boton"></button>
        <button pButton *ngIf="optionsUser" (click)="logout()" label="Logout" class="p-button-danger boton"></button>
    </div>

    <app-perfil-view [usuario]="usuario" [imgPerfil]="imgPerfil"></app-perfil-view>

    <app-map  *ngIf="usuario" [coordenadas]="usuario.coordenadas" ></app-map>
</div>

<p-dialog  [(visible)]="displayResponsive" [modal]="true" [style]="{width: 'auto'}" [maximizable]="false"
    [draggable]="false" [resizable]="true" (onHide)="checkUser()"
    >
   <app-form-perfil *ngIf="usuario" [usuario]="usuario"></app-form-perfil>
   
</p-dialog>