:host{
    flex: 1 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

}

app-form-producto{
    min-width: 500px;
}

app-producto-view{
    background-color: white;
    padding-top: 20px;
    padding-right: 10px;
    border-radius: 10px;
   
}