:host{
    width: 1000px;
    height: 500px;
    background-color: rgba(95, 95, 95, 0.2);
    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap:10px;
}

.ofertas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    // border: black solid 1px;
}

img{
    width: 100px;
}