<div class="texto">
    <div class="bienvenida">WELLCOME</div>
    <div class="texto">to the <span>BEST</span> barter page</div>
</div>

<div class="authContainer">
    <div class="authHeader">
        <div class="line"></div>
        <div class="text">LOGIN</div>
        <div class="line"></div>
    </div>

    <div class="authForm">
        <label>
            Correo
            <input type="text" id="correo" placeholder="Escriba su correo...." class="input">
        </label>

        <label>
            Correo
            <input type="text" id="correo" placeholder="Escriba su correo...." class="input">
        </label>

        <button class="boton1">LOGIN</button>
        
    </div>
</div>