<div class="texto">
    <div class="bienvenida">WELLCOME</div>
    <div class="texto">to the <span>BEST</span> barter page</div>
</div>

<div class="authContainer">
    <div class="authHeader">
        <div class="line"></div>
        <div class="text">LOGIN</div>
        <div class="line"></div>
    </div>

    <div class="authForm">
        <label>
            <h2>Usuario</h2> 

            <span class="p-input-icon-left">
                <i><fa-icon [icon]="faUser"></fa-icon></i>
                <input type="text" pInputText placeholder="Usuario" />
            </span>
            

        </label>

        <label>
            Correo
            <input type="text" id="correo" placeholder="Escriba su correo...." class="input">
        </label>

       
        <!-- <p-button  label="LOGIN" class="p-button-secondary"></p-button> -->
        <button pButton  type="button" label="LOGIN" ></button>


    </div>
</div>