:host ::ng-deep{

    //MEDIA QUERY PARA EL MODAL DEL PRODUCTO

    // "lg" se aplica a dispositivos medianos (tabletas, menos de 992 px)
    @media (max-width: 991.98px) {  
        
        .p-dialog{
            transform: scale(0.8);
        }
        .p-dialog-titlebar{
            transform: scale(0.8);
        }
    }

    // `md` se aplica a dispositivos pequeños (teléfonos horizontales, menos de 768px)
    @media (max-width: 767.98px)  { 
        .p-dialog{
            transform: scale(0.6);
        }
        .p-dialog-titlebar{
            transform: scale(0.6);
        }
    }


    //Dialog
    .p-dialog-content{
        padding: 0 !important;

        padding-right: 30px !important;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .p-dialog-header{
        padding: 5px !important;
    }
}

.cuerpo{
    position: relative;
    width: 250px;
    height: 400px;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    overflow: hidden;
    transition: background 0.5s;
    
    &:hover{
        .img-prod{
            transform: scale(1.2);
            
        }

        cursor: pointer;
        background: rgb(228, 115, 28,0.1);

        
    }
}
.img{
    position: absolute;
    left: -2.64%;
    right: -3.02%;
    top: 0%;
    bottom: 48.48%;
    overflow: hidden;
    width: 265px;
    height: 200px;

    border-bottom: solid 1px #E4731C;
    
    .img-prod{
        transition: transform 0.8s;
        width: 265px;
        height: 200px;
    }
}



.perfil{
    position: absolute;
    left: 21.51%;
    right: 18.49%;
    top: 42.86%;
    bottom: 32.08%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .img-perfil{
        // position: absolute;

        // left: 30.19%;
        // right: 29.56%;
        // top: 0%;
        // bottom: 40.19%;

        width: 50px;
        height: 50px;

        border-radius: 50px;
    }

    span{
        // position: absolute;
        // left: 21.2%;
        // right: 19.52%;
        // top: 60.24%;
        // bottom: 20.63%;
        // width: 100%;
        font-weight: 700;
        font-size: 16px;
        
    }
}

.datos{
    position: absolute;
    left: -2.64%;
    right: 2.64%;
    top: 63.7%;
    bottom: 0.7%;
    overflow: hidden;

    .titulo{
        position: absolute;
        width: 107px;
        height: 35px;
        left: 17px;
        top: 0px;

        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        color: #000000;

    }

    .tipo{
        position: absolute;
        width: 28px;
        height: 16px;
        left: 17px;
        top: 27px;

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;


        color: #4F4F4F;
    }

    .descripcion{
        position: absolute;
        width: 249px;
        height: 69px;
        left: 17px;
        top: 51px;
        overflow: hidden;
        
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #333333;

    }
}



//Responsive 
// `xxl` se aplica a dispositivos de gran tamaño (escritorios grandes, menos de 1400px)
@media (max-width: 1399.98px) {  }


// `xl` se aplica a dispositivos grandes (computadoras de escritorio, menos de 1200 px)
@media (max-width: 1199.98px) { 
}

// "lg" se aplica a dispositivos medianos (tabletas, menos de 992 px)
@media (max-width: 991.98px) {  

    .cuerpo{
        transform: scale(0.7);
    }
}

// `md` se aplica a dispositivos pequeños (teléfonos horizontales, menos de 768px)
@media (max-width: 767.98px)  { 

}

// `sm` se aplica a dispositivos x-small (teléfonos verticales, menos de 576px)
@media (max-width: 575.98px) {

}