:host{
    flex: 1 0;
    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap:30px;
    margin: 40px;
    margin-bottom: 20px;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
a{
    font-size: 1.7em;
}

//Responsive 
// `xxl` se aplica a dispositivos de gran tamaño (escritorios grandes, menos de 1400px)
@media (max-width: 1399.98px) {  }


// `xl` se aplica a dispositivos grandes (computadoras de escritorio, menos de 1200 px)
@media (max-width: 1199.98px) { 
}

// "lg" se aplica a dispositivos medianos (tabletas, menos de 992 px)
@media (max-width: 991.98px) {  

}

// `md` se aplica a dispositivos pequeños (teléfonos horizontales, menos de 768px)
@media (max-width: 767.98px)  { 

}

// `sm` se aplica a dispositivos x-small (teléfonos verticales, menos de 576px)
@media (max-width: 575.98px) {

    :host{
        margin: 40px 5px;
    }
    
}

:host ::ng-deep{
    
    
}

