<form [formGroup]="formLogin" (submit)="guardar()" class="authForm">
    <div>
        <label for="usuario">Usuario</label>
        <span class="p-input-icon-left">
            <i><fa-icon [icon]="faUser"></fa-icon></i>
            <input type="text" pInputText id="usuario"  placeholder="Usuario" formControlName="usuario" />
        </span>
        <span class="error" *ngIf="campoEsValido('usuario')">
            Debe escribir un usuario
        </span>

    </div>
    
    <div>
        <label for="password">Password</label>
        <span class="p-input-icon-left">
            <i><fa-icon [icon]="faLock"></fa-icon></i>
            <input type="password" pInputText id="password" placeholder="Contraseña" formControlName="password" />
        </span>
        <span class="error" *ngIf="campoEsValido('password')">
            Debe escribir su contraseña
        </span>
    </div>  

    
    <button pButton  type="submit" label="LOGIN" class="p-button-warning boton"></button>
    
</form>

