
<div class="filtro">
    <div>
        <label for="userName"></label>
        <span class="p-input-icon-left">
            <i><fa-icon [icon]="lupa"></fa-icon></i>
            <input type="text" [(ngModel)]="filter.titulo" [formControl]="search"  pInputText id="userName"  placeholder="Filtrar por título...."  />
        </span>
    </div>

    <p-dropdown [options]="comunidadesAutonomas" (onChange)="doFilter()" [(ngModel)]="filter.comunidadAutonoma" placeholder="Comunidad Autónoma" optionLabel="name" [showClear]="true"></p-dropdown>
    <p-dropdown [options]="tipos" (onChange)="doFilter()" [(ngModel)]="filter.tipo" placeholder="Categoría" optionLabel="name" [showClear]="true"></p-dropdown>
</div>

<div class="productos" infiniteScroll (scrolled)="onScrollDown(this.filter)">
    <app-producto-pre-view *ngFor="let producto of productos" [producto]="producto">
    
    </app-producto-pre-view>
</div>

<div class="buttonUp" *ngIf="showButton" (click)="onScrollTop()"><fa-icon [icon]="faArrowUp"></fa-icon></div>
