

:host {
    flex: 1 0;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: start;
    gap:100px;
    margin-bottom: 20px;
}

.filtro{
    align-self: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    width: 100%;

    &>.p-inputtext{
        width: 100% !important;
    }
}

.productos{
    width: 100%;
    margin: 30px 0px;
    padding: 0px 200px;
    // border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.botonUsers{
    font-size: 1em !important;
    font-weight: 100 !important;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    
}
:host ::ng-deep{
    .p-button{
        font-weight: 100 !important;
    }
}


//Cancelar atributo de animacion
.animate__animated{
    animation-fill-mode: none !important;
}

//Responsive 
// `xxl` se aplica a dispositivos de gran tamaño (escritorios grandes, menos de 1400px)
@media (max-width: 1399.98px) {  }


// `xl` se aplica a dispositivos grandes (computadoras de escritorio, menos de 1200 px)
@media (max-width: 1199.98px) { 
    
}

// "lg" se aplica a dispositivos medianos (tabletas, menos de 992 px)
@media (max-width: 991.98px) {  

    :host{
        margin:10px;
        .productos{
            padding: 0 20px;
            gap:-10px;
        }
    }
}

// `md` se aplica a dispositivos pequeños (teléfonos horizontales, menos de 768px)
@media (max-width: 767.98px)  { 
    
}

// `sm` se aplica a dispositivos x-small (teléfonos verticales, menos de 576px)
@media (max-width: 575.98px) {

}