
<div class="filtro">
    <div>
        <label for="userName"></label>
        <span class="p-input-icon-left">
            <i><fa-icon [icon]="lupa"></fa-icon></i>
            <input type="text" [(ngModel)]="filter.titulo" formControlName="search"  pInputText id="userName"  placeholder="Filtrar por título...."  />
        </span>
    </div>

    <p-dropdown [options]="comunidadesAutonomas" (onChange)="changeHover();doFilter()" [(ngModel)]="filter.comunidadAutonoma" [placeholder]="placeHolderComunidad" optionLabel="name" [showClear]="true"></p-dropdown>
    <p-dropdown [options]="tipos" (onChange)="changeHover();doFilter()" [(ngModel)]="filter.tipo" [placeholder]="placeHolderTipo" optionLabel="name" [showClear]="true"></p-dropdown>

    <a routerLink="/ofertas/home/users"><button pButton type="button" icon="pi pi-user" class="p-button-info botonUsers" label="Usuarios" ></button></a>
</div>

<div class="productos" infiniteScroll (scrolled)="onScrollDown(this.filter)">
    <app-producto-pre-view class="animate__animated animate__flipInX" *ngFor="let producto of productos" [producto]="producto" >
    
    </app-producto-pre-view>

    <app-mensaje-not-found *ngIf="noProductos" message="No hay productos"></app-mensaje-not-found>
</div>

<div class="buttonUp" *ngIf="showButton" (click)="onScrollTop()"><fa-icon [icon]="faArrowUp"></fa-icon></div>
