
:host{
    .perfil{
        display: flex;
        gap:20px;
        align-items: center;
        background: rgba(228, 228, 228, 0.4);
        border-radius: 10px;
        padding: 20px;
    }   
    

    &:hover{
        cursor: pointer;
    }
    
    span{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
}


.avatar{
    width: 70px;
    height: 70px;
    border-radius: 300px;
    background-color: #DEE2E6 ;
    border: #E4731C solid 1px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    div{
        font-size: 2em;
    }
    img{
        width: 70px;
        min-height: 70px;
        border-radius: 300px;
        border: #E4731C solid 1px;
    }
}

