:host{
    font-family: 'Istok Web';
}

:host ::ng-deep{

    //Descripcion
    .p-scrollpanel{
        position: absolute;
        width: 100%;

        left: 22px;
        top: 227px;

        font-weight: 300;
        font-size: 15px;
    }

    //Flecha descripcion
    .custom-scrolltop{
        width: 2rem;
        height: 2rem;
        border-radius: 4px;
        background-color: #E4731C;
    
        &:hover {
            background-color: #E4731C;
        }
    
        .p-scrolltop-icon {
            font-size: 1rem;
            color: white;
        }
    }

    //Galeria de imagenes
    // .p-galleria-item-wrapper{
        
    //     position: absolute !important;

    //     box-shadow: 0 0 10px #DEE2E6;

    //     right: 10px;
    //     top: calc(50% - 170px );
    //     width:  300px !important;
    //     height:  300px !important;
    //     padding: 10px;
    //     // height: 300px !important;
        
    //     .p-galleria-content{
    //         border-radius: 10px !important;
    //     }

    //     .p-galleria-indicators{
    //         height: 20px;
    //         align-items: center !important;
    //         background-color: rgba(227, 114, 28,0.4);
    //         &>*{
    //             transform: scale(0.9);
    //         }
    //     }
    //     .p-galleria-thumbnail-container{
    //         width: 400px !important;
    //         height: 200px !important;
    //     }
    
    //     .p-galleria-item-nav{
    //         width: 40px !important;
    //         height: 40px !important;

    //         color: #E4731C;

    //         &:focus{
    //             color: #E4731C;
    //         }

    //         top:calc(50% - 40px)
    //     }

        // display: flex;
        // align-items: center;
        // justify-content: center;
        // padding-bottom: 60px ;

        // img{
        //     width: 300px !important;
        //     height: 300px !important;
            
        // }
    // }

    //Dialog
    .p-dialog-content{
        padding: 0 !important;
    }

    .p-dialog-header{
        padding: 5px !important;
    }
}

.contGaleria{
    position:absolute;
    right: 10px;
    top: 0px;
    display: flex;
    width:  300px !important;
    height: 100%;
    
    max-height: 460px !important;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    justify-content: center;

    .galeria{
        // position: absolute !important;
        box-shadow: 0 0 10px #DEE2E6 !important;

        width:  300px !important;
        height:  auto ;
        max-height: 400px !important;

        overflow: hidden;
    }
}


.cuerpo{
    color: black;
    position: relative;
    width: 800px;
    height: 500px;


    .info{
        position: absolute;
        left: 6.07%;
        right: 45.92%;
        top: 6.24%;
        bottom: 22.22%;

        // background-color: red;

        .perfil{
            position: absolute;
            width: 360px;
            height: 79px;
            left: 22px; 
            top: 16px;

            display: flex;
            align-items: center;
            gap:15px;

            padding:10px;

            background: rgba(228, 228, 228, 0.28);
            border-radius: 10px;

            &:hover{
                cursor: pointer;
            }
            
            .infoPerfil{
                display: flex;
                flex-direction: column;

                span{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                }

                .userName{
                    font-size: 0.8em;
                    color: #E4731C;
                }
            }
            
        }

        .tipo{
            position: absolute;
            width: 343px;
            height: 51px;
            left: 22px;
            top: 117px;

            font-weight: 300;
            font-size: 20px;

            span{
                color: #E4731C;
            }
        }

        .titulo{
            position: absolute;
            width: 100%;
            height: 50px;
            left: 22px;
            top: 168px;

            overflow: hidden;
            
            font-weight: 700;
            font-size: 32px;
           
        }

        .descripcion{
            
            
        }
    }

    // .imagen{
    //     position: absolute;
    //     left: 65.51%;
    //     right: 5.21%;
    //     top: 6.24%;
    //     bottom: 6.63%;

    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding-bottom: 60px ;

    //     // background-color: blue;

    //     img{
    //         width: 400px;
    //         height: 200px;
    //         border: #E4731C solid 1px;
    //         border-radius: 10px;
    //     }
    // }

    .botones{
        position: absolute;
        left: 6.07%;
        right: 45.92%;
        top: 80.12%;
        bottom: 6.63%;

        display: flex;
        gap: 10px;

        // background-color: purple;

        .boton{
            width: auto !important;
            font-weight: 400;
            font-size: 1em;
        }
    }
}

// p{height: 400px;}

//Estilos avatar
.avatar{
    width: 70px;
    height: 70px;
    border-radius: 300px;
    background-color: #DEE2E6 ;
    border: #E4731C solid 1px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    div{
        font-size: 2em;
    }
    img{
        width: 70px;
        min-height: 70px;
        border-radius: 300px;
        border: #E4731C solid 1px;
    }
}

//Responsive 


// `xxl` se aplica a dispositivos de gran tamaño (escritorios grandes, menos de 1400px)
@media (max-width: 1399.98px) {  }


// `xl` se aplica a dispositivos grandes (computadoras de escritorio, menos de 1200 px)
@media (max-width: 1199.98px) { 
}

// "lg" se aplica a dispositivos medianos (tabletas, menos de 992 px)
@media (max-width: 991.98px) {  
    
}

// `md` se aplica a dispositivos pequeños (teléfonos horizontales, menos de 768px)
@media (max-width: 767.98px)  { 
    
}

// `sm` se aplica a dispositivos x-small (teléfonos verticales, menos de 576px)
@media (max-width: 575.98px) {

}