<section id="slider">
    <div id="content-images-slider">
        <div class="image-slider rellax" data-rellax-speed="-10" style='background-image: url("assets/imagenes/fondo-Logo.png")'></div>
        <div class="image-slider rellax" data-rellax-speed="-1" style='background-image: url("assets/imagenes/fondo-deco.png")'></div>

    </div>
</section>

<section id="content">
    <div class="info1">
        <h2>¿Quienes somos?</h2>
        <div class="texto">
            Somos una comunidad dispuesta a revivir aquellos productos que ya no les das utilidad y a cambio 
            obtener algo con lo que podrás disfrutar y reutilizar en tu día a día.
        </div>
    </div>
    <div class="info2">
        <div>
            <h2>Publicar tus productos</h2>
            <div class="texto">
                Puedes añadir tus productos de manera muy sencilla a nuestra web
            </div>    
        </div>

        <div class="divNube">
            <fa-icon [icon]="faCloudUpload" class="nube"></fa-icon>
        </div>

        <app-producto-pre-view *ngIf="producto"[show]="false" [producto]="producto"></app-producto-pre-view>

    </div>

    <div class="info3" >
        <canvas id="confetti"></canvas>
        <h2>¡Haz match con otros usuarios!</h2>
    </div>

    <div class="footer">
        <div class="datos">
            <a class="navbar-brand" routerLink="/ofertas/aboutUs"><img src="/assets/imagenes/Logo Blanco.png" alt="Imagen Logo"></a>
            <div><div class="circulo"></div><a>+34 644 453 345</a></div>
            <div><div class="circulo"></div><a>MaxBarter@gmail.com</a></div>
        </div>

        <div class="redes">
            <div class="social">Social Media</div>

            <div class="iconos">
                <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon [icon]="faFacebook"></fa-icon></a>
            </div>
        </div>
    </div>
</section>