:host{
    height: 100%;
    width: 100%;
}

.carousel{
    width: 100%;
    height: 100%;
    // background-color: aqua;
    fa-icon{
        font-size: 20px;
        color: #E57722 !important;
    }

    .carousel-indicators{
        button{
            
            background-color: #E57722;
        }
    }
    
    .carousel-inner{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        align-items: center;

    }
    img{
        width:  100%  !important;
        height:  100%  !important;
        // margin-top: calc(50% - 100px);
        // border: solid black 1px; 
    }
}

.carousel-control-prev{
    
    
        
    
    
   
}