/* You can add global styles to this file, and also import other style files */

//Importamos fuentes
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');


// **CLASES GENERALES**
.active{
    font-weight:bolder !important;
}

//Personalizo componentes del primeNg

//botones
.p-button{
    border-radius: 4px;
    width: 143px;
    height: 63px;

    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #FFFFFF;

    background: linear-gradient(121.1deg, #000000 -200.75%, #E4731C 90.53%) !important;

    &:hover{
        background: linear-gradient(121.1deg, #000000 -200.75%, #a55314 90.53%)!important;
    }


}
.p-button-warning{
    background: linear-gradient(121.1deg, #000000 -200.75%, #E4731C 90.53%) !important;
    &:hover{
        background: linear-gradient(121.1deg, #000000 -200.75%, #a55314 90.53%)!important;
    }
}
.p-button-success{
    background: linear-gradient(115.46deg, #000000 -280.09%, #90FF02 88.28%) !important;
    &:hover{
        background: linear-gradient(115.46deg, #000000 -280.09%, #6fc400 88.28%) !important;
    }
}

.p-button-danger{
    background: linear-gradient(115.46deg, #000000 -280.09%, #FF0202 88.28%) !important;
    &:hover{
        background: linear-gradient(115.46deg, #000000 -280.09%, #be0000 88.28%) !important;
    }
}

.p-button-info{
    background: linear-gradient(115.46deg, #000000 -280.09%, #0286FF 88.28%) !important;
    &:hover{
        background: linear-gradient(115.46deg, #000000 -280.09%, #0067c7 88.28%) !important;
    }
}

//inputs
@mixin input {
    &:focus {
        border-color: #e4731c !important;
        box-shadow: 0px 0px 8px #e4731c !important;
    }

    &:hover{
        border-color: #e4731c !important;
    }
}
.p-inputtext{
    @include input;
}

.bg-animation{
    background: linear-gradient(327deg, #e4731c, #000000);
    background-size: 400% 400%;

    -webkit-animation: fondoGradient 15s ease infinite;
    -moz-animation: fondoGradient 15s ease infinite;
    -o-animation: fondoGradient 15s ease infinite;
    animation: fondoGradient 15s ease infinite;
}

.bg-static{
    background: linear-gradient(1.06deg, #E4E4E4 24.23%, rgb(255, 111, 0) 182.16%);
}

//select
.p-dropdown{
    background-color: #e4731c !important;
    
    border: none !important;

    &>*{
        color: white !important;
    }

    &:focus {
        border-color: #e4731c !important;
        box-shadow: none;
        box-shadow: 0px 0px 8px #e4731c !important;

    }

    &:hover{
        border-color: #e4731c !important;
    }
}

.p-focus{
    box-shadow: 0px 0px 8px #e4731c !important;
}

//POSICIONAR SPINNER

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

//Posición botón Up
.buttonUp{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    background-color: #e4731c;
    box-shadow: 0 0 2px #757575;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #aa5514;
        
    }
}

/**Animaciones generales**/


// Fondo
@-webkit-keyframes fondoGradient {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@-moz-keyframes fondoGradient {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@-o-keyframes fondoGradient {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@keyframes fondoGradient {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}