
<app-user-target class="perfil" [imgPerfil]="imgPerfil" [usuario]="usuario" ></app-user-target>


<button pButton  *ngIf="isCurrentUser" icon="pi pi-plus" label="Añadir" (click)="redirectProducto()" class="p-button-success boton"></button>

<p-dropdown [options]="tipos" (onChange)="changeHover();doFilter()" [(ngModel)]="filter.tipo" [placeholder]="placeHolderTipo" optionLabel="name" [showClear]="true"></p-dropdown>

<div class="productos" infiniteScroll (scrolled)="onScrollDown(filter)">
    <app-producto-pre-view class="animate__animated animate__flipInX" *ngFor="let producto of productos" [producto]="producto" >
    
    </app-producto-pre-view>
</div>

<div class="buttonUp" *ngIf="showButton" (click)="onScrollTop()"><fa-icon [icon]="faArrowUp"></fa-icon></div>