:host{
    flex: 1 0;

    display: flex;
    align-items: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap:50px;
    margin-bottom: 40px;
}

:host ::ng-deep{
    //Dialog
    .p-dialog-content{
        padding: 0 !important;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-right: 30px !important;

        
        .datos{
            margin-top: 20px !important;
        }

        app-perfil-view{
            padding-right: 30px !important;
        }

    }

    .p-dialog-header{
        padding: 5px !important;
    }
}

.perfil{
    margin: 30px 0px;
}

.productos{
    width: 100%;
    margin: 0px 0px;
    padding: 0px 200px;
    // border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

//Cancelar atributo de animacion
.animate__animated{
    animation-fill-mode: none !important;
}